language: java
sudo: false
cache:
  directories:
    - $HOME/.m2/repository
jdk:
  - oraclejdk8

install: /bin/true

script:
  - mvn install -Dskip.unit.tests=true -Dmaven.javadoc.skip=true -V -B
  - mvn test coveralls:report -V -P coverage 
